@import "tailwindcss";

/* RESET */
html, body {
  height: 100%;
}

/* JANGAN @apply DI BODY */
body {
  margin: 0;
  padding: 0;
  background: #f3f4f6; /* gray-100 */
  color: #111827;      /* gray-900 */
}
